*.[oa]
*.h5
*.tmp
*~
.deps
cachegrind.out.*
callgrind.out.*
!dummy.*
.dirstamp
/.rsync
/build-*
/*.tar.gz
/autom4te.cache
/config.log
/config.status
/conftest*
/*.lineno
/confdefs.h
Makefile
TEMPLATE.c.tpl
TEMPLATE.cpp.tpl
TEMPLATE.cxx.tpl
TEMPLATE.h.tpl
