*.[oa]
*.h5
*~
.deps
cachegrind.out.*
callgrind.out.*
!dummy.*
.dirstamp
/.rsync
/build-*
/*.tar.gz
/acinclude.m4
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/conftest*
/*.lineno
/confdefs.h
Makefile
Makefile.in
TEMPLATE.c.tpl
TEMPLATE.cpp.tpl
TEMPLATE.cxx.tpl
TEMPLATE.h.tpl
